#root {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}

:root {
	/* FUENTES */
	--fuente-principal: "Lato", sans-serif;
	--fuente-secundaria: "Roboto", sans-serif;
	/* COLORES */
	--color-p-claro: #999;
	--color-p-oscuro: #666;
	--color-rosa: #c87065;
	--color-beige: #c8a165;
	--color-blanco: #ffffff;
	--color-gris-bg: #f6f6f6;
	--color-gris-bg-footer: #EEEEEE;
	--color-transparencia: #6666667d;
	/* SOMBRAS */
	--box-shadow: 1px 8px 15px rgba(0, 0, 0, 0.12);
}

/*  ?==================== #ESTILOS GENERALES ====================  */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	font-family: var(--fuente-principal);
	color: var(--color-p-claro);
	position: relative;
}

p {
	font-size: 14px;
	color: var(--color-p-claro);
}

/* ---------- ENCABEZADOS ---------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--fuente-principal);
	font-weight: 900;
	color: var(--color-p-oscuro);
	text-transform: uppercase;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
	font-weight: 900;
}

h3 {
	font-size: 18px;
}

/* ---------- LINKS ---------- */
a {
	text-decoration: none;
}

/* ---------- LISTAS ---------- */
ul li {
	list-style: none;
}

/* ---------- BOTONES ---------- */
.btn-principal {
	background-color: var(--color-rosa);
	color: var(--color-blanco);
	text-transform: uppercase;
	padding: 0.6rem 2rem;
	margin: 0.5rem 0;
	border: 0;
	border-radius: 3px;
}

.btn-principal:hover {
	background-color: var(--color-beige);
}

/* ---------- FORMULARIO ---------- */
form {
	font-size: 14px;
	background-color: var(--color-blanco);
	padding: 2rem;

	input {
		background-color: var(--color-gris-bg);
	}
}

.input-group {
	display: flex;
	flex-direction: column;
	margin-top: .5rem;
}

input,
select {
	width: 100%;
	padding: .5rem .5rem;
	margin: .2rem 0;
	border: none;
	border-bottom: 3px solid var(--color-rosa);
}

input:focus {
	outline: none;
}

.input-error {
	font-size: 10px;
	color: red
}

textarea {
	width: 100%;
	margin-top: .3rem;
	padding: .5rem;
	color: var(--color-p-claro);
	font-family: var(--fuente-principal);
	border-color: var(--color-p-claro);
}

/*---------------------- termina estilos generales ----------------------- */
.main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 !important;
	background-color: var(--color-gris-bg);
	margin: 0 auto;
}
.page-container {
	margin: 0 auto;
	padding: 3rem 0;
}

/* --------------------- ESTILOS ABOUT US --------------------- */
.container-about {
	width: 100% !important;
	background-color: var(--color-gris-bg);
}

/* --------------------- ESTILOS ADMIN PRODUCT --------------------- */
.main-admin {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	margin: 2rem auto;
}

.admin-form {
	width: 100%;

	form {
		display: flex;
		flex-direction: column;
		gap: .3rem;
		/* margin: 1.5rem; */

		h2 {
			padding-bottom: .8rem;
		}
	}
}

.container-table {
	max-width: 1080px;
	width: 100vw;
}

.main-admin-product {
	background-color: var(--color-blanco);
	padding: 2rem 1rem;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.table-container {
	width: 100%;
	overflow-x: scroll;
}

.tb-product {
	width: 100%;
	margin: 2rem auto;
	border-collapse: collapse;
	max-width: 900px;

	th {
		padding: .75rem;
		color: var(--color-p-oscuro);
		background-color: var(--color-gris-bg);
		border: 2px solid var(--color-blanco);
		text-transform: uppercase;
	}

	td {
		color: var(--color-p-claro);
		font-weight: 500;
		border-bottom: 2px solid var(--color-gris-bg-footer);
		padding: .5rem;
	}

	.td-image {
		text-align: center;

		.img-table {
			width: 60px;
			height: 60px;
			object-fit: cover;
		}
	}

	.td-description {
		text-align: start;
	}

	.td-price {
		text-align: center;
	}

	.td-action {
		text-align: center;

		button {
			font-size: 1rem;
			background-color: transparent;
			border: none;

			&:hover {
				cursor: pointer;
			}
		}

		.bt-edit {
			color: blue;
			margin-right: .3rem;
		}

		.bt-remove {
			color: red;
			margin-left: .3rem;
		}
	}
}

/* --------------------- ESTILOS LOGIN y register--------------------- */
.form-login,
.form-register {
	width: 400px;
	max-width: 90%;
	margin: 0 auto;
}

/*  !==================== #MEDIAS QUERY ====================  */
@media screen and (width > 1040px) {
	
	.main-container {
		
		align-items: center;
	}

	.page-container {
		width: 100%;
		max-width: 1280px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/* ---------- FORMULARIO ---------- */
	.form-contact {
		flex-direction: column;
		flex-grow: 1;
	}

	/* -------FORMULARIO LOGIN Y REGISTRO-------- */
	.form-login,
	.form-register {
		width: 400px;
	}

	/* -----------pagina contact--------------- */
	.main-contact {
		max-width: 980px;
	}

	/* -----------pagina about--------------- */
	.main-login {
		display: flex;
		justify-content: center;
	}

	/* ?==================== #PAGE LISTA DE PRODUCT pantallas grandes ====================  */
	.container-table {
		width: 900px;
	}

	.tb-product td {
		font-size: 14px;
	}

	.main-admin {
		flex-direction: row;
		align-items: flex-start;
	}
	.admin-form {
		width: 400px;
	}
}