.banner-page {
	width: 100%;
	background-position: center;
	background-size: cover;
	height: 350px;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	padding: 2rem;

	.main-banner-page {
		width: 1280px;
		margin: 0 auto;

		.text-banner-page {
			max-width: 450px;
			background-color: var(--color-transparencia);
			padding: 1.5rem 2rem;
		

			* {
				color: var(--color-blanco);
			}

			.breadcrumb {
				margin: 0;
				a {
					&:hover {
						color: var(--color-rosa);
					}
				}
				p {
					margin: 0 .5rem .5rem 0;
				}
			}
		}
	}

	.breadcrumb {
		display: flex;
	}
}

.banner-about {
	background-image: url(https://i.postimg.cc/ZKnWyQGR/banner-page-1.jpg);
}

.banner-contact {
	background-image: url(https://i.postimg.cc/CL2zCN04/banner-page-2.jpg);
}

.banner-list-products {
	background-image: url(https://i.postimg.cc/CKT5XxzB/banner-page-3.jpg);
}

.banner-register {
	background-image: url(https://i.postimg.cc/Y98SvN8Y/banner-page-8.jpg);
}

.banner-single-product {
	background-image: url(https://i.postimg.cc/hGLvBRdC/banner-page-5.jpg);
}

.banner-login {
	background-image: url(https://i.postimg.cc/NFMjmyPV/banner-page-6.jpg);
}

.banner-admin-user {
	background-image: url(https://i.postimg.cc/ZRJRYsPJ/banner-page-7.jpg);
}